.panda-bg{
    background-color: #fcecea;
    padding: 20px 40px;
   
}
.panda-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    color: #fceae8;
}
.ctg-1-bg{
    background-color: orange;
}
.ctg-2-bg{
    background-color: orchid;
}
.ctg-3-bg{
    background-color: blue;
}